{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-header">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ program.title }}</h5>
                <h5 class="card-title">{{ episode.title }}</h5>
                <p class="card-text">{{ episode.synopsis }}</p>
                <a href="{{ path('episode_show', {slug:episode.slug}) }}" class="btn btn-primary">Show</a>
                <a href="{{ path('episode_edit', {slug:episode.slug}) }}" class="btn btn-primary">Edit Episode</a>
                <a href="{{ path('episode_delete', {slug:episode.slug}) }}" class="btn btn-primary">Delete Episode</a>
            </div>
        </div>
    </div>
{% endblock %}